.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 500px;
  overflow: auto;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
