.post {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dae2ef;
}

.date {
  font-size: 12px;
  margin-bottom: 4px;
  color: #a2adbf;
}

.author {
  font-size: 18px;
  margin-bottom: 2px;
  color: #0f0f0f;
}

.message {
  font-size: 14px;
  text-align: justify;
}
