.settingsForm {
  margin-left: 6px;
}

.input {
  width: 120px;
  height: 14px;
}

.labelFeed {
  width: 140px;
}

.labelInterval {
  width: 200px;
}

.labelPosts {
  width: 140px;
}

.field {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 2px;
}
